[submodule "deps/libusb"]
	path = deps/libusb
	url = https://github.com/libusb/libusb-cmake.git
[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/directxtex"]
	path = deps/directxtex
	url = https://github.com/microsoft/DirectXTex.git
